@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root
{
    --background-color:white;
    --primary-text-color:#001931;
    --secondary-text-color:#627382;
    --ancient-text-color: #30B868;
    --button-color:#469165;
    --heading-font-size:48px;
    --subheading-font-size:16px;
}
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}