@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900&display=swap");

:root {
  --background-color: white;
  --primary-text-color: #001931;
  --secondary-text-color: #627382;
  --ancient-text-color: #30b868;
  --button-color: #469165;
  --heading-font-size: 48px;
  --subheading-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* Hero Section */
#hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background:
    linear-gradient(
      to bottom,
      rgba(54, 146, 188, 0.1) 0%,
      rgba(49, 144, 186, 0.1) 27%,
      rgba(37, 138, 183, 0.1) 55%,
      rgba(16, 129, 178, 0.1) 83%,
      rgba(1, 123, 174, 0.1) 100%
    ),
    url(../assets/hero-bg.png) no-repeat center / cover;
}

/* Navbar */
.content {
  padding: 16px 120px;
}
.container {
  padding: 120px 120px;
}
#nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 9999; 
}

.nav-img-container {
  width: 139px;
  height: 60px;
}

.nav-links ul {
  display: flex;
  gap: 32px;
  list-style: none;
  font-size: var(--subheading-font-size);
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--ancient-text-color);
}

/* Navbar button */
.primary-button {
  height: 44px;
  width: 144px;
  padding: 12px 16px;
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.primary-button:hover {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

/* Header Section */
#header-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 70px 120px 134px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-align: center;
}

/* Early Access Pill */
.early-div {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  background-color: var(--background-color);
  border-radius: 1000px;
}

.early-div img {
  width: 20px;
  height: 20px;
}

.early-div p {
  font-size: var(--subheading-font-size);
  font-weight: 500;
  color: var(--ancient-text-color);
}

/* Header Text */
.header-middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.header-title-green {
  color: var(--ancient-text-color);
}

.header-middle p {
  width: 52%;
  font-size: 18px;
  line-height: 30px;
  color: white;
}

/* Header Buttons */
.button-group {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.button-1,
.button-2 {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}

.button-1 {
  width: 252px;
  background-color: var(--button-color);
  color: white;
  border: none;
}

.button-1:hover {
  background-color: transparent;
  border: 1px solid white;
}

.button-2 {
  width: 198px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.button-2:hover {
  background-color: var(--button-color);
  border-color: var(--button-color);
  color: white;
}

/* Card Showcase */
#card-section {
  display: flex;
  flex-direction: column;
  gap: 44px;
  align-items: center;
  text-align: center;
}

.card-textarea {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-textarea h1 {
  font-size: 48px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.card-textarea p,
.right-container .solution-content p {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* Card List */
.card-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 322px;
  height: 300px;
  padding: 24px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
  transition: transform 0.35s ease, box-shadow 0.35s ease;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}
.card-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: #f95555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  color: var(--primary-text-color);
}

.card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--secondary-text-color);
}

.card4 {
  width: 80%;
}

/* Solution Section */
#solution-section {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding-top: 0px;
  align-items: center;
}

.left-container {
  width: 50%;
  display: flex;
  justify-content: right;
}

.right-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.right-container .solution-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.right-container .solution-content h4 {
  color: var(--ancient-text-color);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.right-container .solution-content h1 {
  color: var(--primary-text-color);
  font-size: 48px;
  font-weight: 700;
  width: 55%;
  text-transform: capitalize;
}

.right-container .solution-content p {
  font-size: 16px;
  width: 38%;
  line-height: 20px;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-item div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.list-item div p {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
}

/* Get Early Access Section */
#early-access-section {
  padding-top: 0px;
}

.access-content {
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f7f6f2;
  border-radius: 12px;
  gap: 24px;
}

.upper-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.upper-text h1 {
  font-size: 40px;
  color: var(--primary-text-color);
  font-weight: 700;
}

.upper-text p {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--secondary-text-color);
  width: 73%;
  line-height: 24px;
}

.access-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 194px;
  height: 52px;
  background-color: var(--button-color);
  color: white;                        
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 600;
}

.access-btn .lower-arrow {
  width: 20px;
  height: 20px;
  fill: white;
  transition: fill 0.3s ease;
}

.access-btn:hover {
  background-color: transparent;               
  color: var(--ancient-text-color);                
  border: 1px solid var(--ancient-text-color);     
}

.access-btn:hover .lower-arrow {
  fill: var(--ancient-text-color);
}

/* Lower Section */
.lower-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.lower-section p
{
  font-size: 16px;
  line-height: 20px;
  color: var(--secondary-text-color);
}

/* Footer Section */
#footer-section
{
  padding-bottom: 30px;
  background-color: var(--primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.upper-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.social-content
{
  display: flex;
  flex-direction: column;
  gap:16px
}
.social-content span
{
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.social-content div
{
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.social-content div a img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-content div a:hover img {
  transform: scale(1.2);
}
.copyright
{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-top: 1px solid rgb(229, 231, 235,0.4);
  color: #FAFAFA;
  font-size: 16px;
  font-weight: 400px;
}