@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --background-color: white;
  --primary-text-color: #001931;
  --secondary-text-color: #627382;
  --ancient-text-color: #30b868;
  --button-color: #469165;
  --heading-font-size: 48px;
  --subheading-font-size: 16px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
/* Navbar Section */
.content {
  padding: 16px 120px;
}
#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.nav-img-container {
  width: 139px;
  height: 60px;
}
.nav-links ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: var(--subheading-font-size);
  font-weight: 500;
  justify-content: center;
}
.nav-links ul a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease-in-out;
}
.nav-links ul a:hover {
  color: var(--ancient-text-color);
}
.primary-button {
  height: 44px;
  width: 144px;
  padding: 12px 16px;
  border-radius: 4px;
  background-color: #469165;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.primary-button:hover {
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}
